@import '../global.css';
.auth-layout {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.auth-layout__card 
{
    background-color: var(--card-bg);
    padding: 30px 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-layout__title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 1.5rem;
    font-weight: 600;
}